@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';
@import '~bulma-divider/dist/css/bulma-divider.sass';


.has-text-orange {
  color: $orange;
}
.has-text-blue {
  color: $logo-letter-color !important;
  font-family: $family-title;
}


// fix: hero background image
// .hero-has-bg {
//   position: relative;

//   .hero-bg {
//     height: 600px;    
//   }
//   .hero-content {
//     position:absolute;
//     top: 0;
//     left:0;
//     background-color: #ddd;
//     opacity: 0.8;
//   }
// }

.test-bg-img {
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0;
  top: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
//To add margin or padding.
// <div class="mt-10">This div has top margin 10px</div>
$sizes: (0,10,15,20,25,30,50);
$positions: ('top','left','bottom','right');

@each $size in $sizes {
  @each $position in $positions {
    .m#{str-slice($position, 0, 1)}-#{$size} {
      margin-#{$position}: $size + px;
    }
    .p#{str-slice($position, 0, 1)}-#{$size} {
      padding-#{$position}: $size + px;
    }
  }
}
