@import './variables.scss';

// Importing Bulma from node_modules
// @import '~bulma/bulma.sass';


.has-text-orange {
  color: $orange;
}
.has-text-blue {
  color: $logo-letter-color !important;
  font-family: $family-title;
}


// fix: hero background image
.hero-has-bg {
  position: relative;

  .hero-bg {
    height: 600px;    
  }
  .hero-content {
    position:absolute;
    top: 0;
    left:0;
    background-color: #ddd;
    opacity: 0.8;
  }
}
