// VARIABLES

// brand colors
$primary: #dc4619;
$secondary: #ED9A00;
$warning: #eca000;
$blue-name: #005f9d;
$link: #0B93C9;

// brand fonts
$family-primary: "Roboto", BlinkMacSystemFont, -apple-system, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-secondary: "Open Sans", "Nunito Sans" , "PT Sans", "Source Sans Pro", "Lato", "Monserrat", BlinkMacSystemFont, -apple-system, "Arial Black", sans-serif;
$family-title: "Tenor Sans";

// dividers
$divider-font-size: 2rem;
$divider-color: hsl(0, 0%, 48%);
$divider-thickness: .15rem;

// layout
$card-content-padding: 0;
$card-shadow: 0 0;
$section-padding: 3rem 4vw;
$column-gap: 2vw;