// VARIABLES

$primary-color: #eca000 ;
$secondary-color: #dc4619;
$logo-letter-color: #005f9d;

$family-primary: "Roboto", BlinkMacSystemFont, -apple-system, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-secondary: "Open Sans", "Nunito Sans" , "PT Sans", "Source Sans Pro", "Lato", "Monserrat", BlinkMacSystemFont, -apple-system, "Arial Black", sans-serif;
$family-title: "Tenor Sans";

$orange: #ED9A00;
$blue: #0B93C9;

$divider-font-size: 1.25rem;
$divider-color: black;
// $navbar-item-img-max-height: 1.75rem !default
$navbar-item-img-max-height: unset;