@import '../styles/settings.scss';

.posts {
  list-style-type: none;
  margin: 0;
}

.post {
  margin: 1rem 0;

  a {
    // background: rgb(107, 187, 175);
    background: $headerbackgroundcolor;
    color: #222;
    display: block;
    padding: 1rem;
    text-decoration: none;
  }

  a:hover {
    background:rgb(76, 136, 127); 
  }

  h2 {
    margin-bottom: 0;
  }
  
  p {
    color: #555;
    font-size: .8rem;
    font-style: italic;
  }
}