.background {
  min-height: 60vh;
  // background-image: url('https://res.cloudinary.com/danielmeilleurimg/image/upload/v1455696736/echos/background-header_mrmquk.jpg');
  background-image: url('../../static/tenors-sopranos3-2160x1440.jpg');
  background-size: cover;
}