
.main-container{
  display: flex;
}

.img-container{
  width: 50%;
  min-height: 120px;
  max-height: auto;
  float: left;
  margin: 0;
  padding: 0;
  img {
    width: 100%;
    height: auto;
  }
}
.content-container{
  width: 47%;
  margin: 6%;
  
  p {
    color:grey;
    text-align: justify;
  }
}