.footer {
  //margin-top: 3rem;
  background: #04091e;
  color: #777;
  width: 100%;
  padding:15px 48px;
  margin-right: auto;
  margin-left: auto;
}
.container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin-left: 48;
  margin-right: 48px;
  p {
    margin:0px;
  }
}
.social {
  text-align: right;  
}