.footer {
  //margin-top: 3rem;
  background: #04091e;
  color: #777;
  width: 100%;
  padding:15px 48px;
  margin-right: auto;
  margin-left: auto;
}
.container {
  display: flex;
  margin:0; 
  p {
    margin:0px;
    flex-grow: 1;
  }
}
.social {
  flex-grow: 1;
  text-align: right;  
}