@import '../styles/settings.scss';

.header {
  background-color: $headerbackgroundcolor;
  padding: 0.5rem;
  width: 100%;
 }
.navigation {
  display: flex;
  align-items: center;
  height: 100%;
}
.logo {
  color: white;
  // padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
}
.sitename {
  font-size: 1rem;
  margin:0;
  padding: 0 1rem;
  // line-height: 0;
}
.title {
  // color: #12557c;
  color: $master-color;
  text-decoration: none;
  display: flex;
}
.spacer {
  flex: 1;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  li {
    margin-bottom: 0;
  }
}
.nav-item {
  color: $nav-items-color;
  font-size: .9rem;
  margin-right: 1.3rem;
  text-decoration: none;
}
.nav-item:hover {
  color: #aaa;
}
.active-nav-item {
  color: #333;
  font-weight: bolder;
}