@import '../styles/settings.scss';

.header {
  background-color: $headerbackgroundcolor;
  padding: 0.5rem;
  width: 100%;
 }
.navigation {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 20px 0px;
}
.sitenames {
  font-size: 1.5rem;
  margin:0;
  padding: 0 1rem;
  color:black;
}
.nav-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    a { flex-grow: 1}
  
}
.spacer {
  flex: 1;
}
