@import '../styles/settings.scss';

.section {
  position: relative;
  height: 400px;
  background: url('../../static/tenors-sopranos3-2160x1440.jpg') left center no-repeat;
  z-index: 1;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 100%;
  max-width: 620px;
  text-align: center;
}