.lang {
  color: #dc4619;
  padding: 0 0.5vw;
  font-size: smaller;
  &:hover {
    color: #dc4619;
    font-weight: bold;
  }
}

// .lang-container span:first-child a {
//   border-right: solid 1px gray;
// }
